
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <form action="/home/index" method="post">
        <input type="hidden" value="@ViewBag.Count" name="zaehler" />
        <button name="btn" value="btnClickCount">Klick mich</button>
        <br />
        <button name="btn" value="btnClickShowCount">Zeige Ergebnis</button>
    </form>   
    <div>
        <label value="@ViewBag.Count"/>
    </div>
</body>
</html>
